
**/*.log
**/*.md
**/*.dist
**/*.cache
**/*.sw*
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/Dockerfile
**/Thumbs.db
.github/
backups/
cronjobs/
!cronjobs/example.sh
!cronjobs/helper
!cronjobs/jobs.dist
docker_volumes/
initdb.d/
prestashop/
var/
.docker-backup*
.editorconfig
.env*
