# See https://github.com/eXtalionLab/docker-backup

###> config ###
backupDir='backups'
dockerDbServiceName='db'
# Use local image to skip download
dockerImgToBackupVolumes='alpine'
dockerVolumesDir='docker_volumes'
# Allow types: custom, mariadb, mongo, mysql, postgresql
dbType='mysql'
envFile='.env'
###< config ###

###> files/volumes to backup ###
filesToBackup=( \
    "${envFile}" \
    'cronjobs/' \
    'prestashop/' \
)
filesToExclude=( \
    'cronjobs/log/*' \
    'prestashop/adminxyz/autoupgrade/backup/*' \
    'prestashop/adminxyz/autoupgrade/download/*' \
    'prestashop/var/cache/*' \
    'prestashop/var/logs/*' \
)
# Remember to prefix volumes with docker-compose project name
volumesToBackup=()
###< files/volumes to backup ###

###> borg ###
export BORG_REPO='backups/app'
export BORG_PASSPHRASE='Change_me!'
###< borg ###
