
/.git
/backups/*
/docker_volumes/*
/initdb.d/*
/var/*

/docker-compose.*
/Dockerfile*
/.dockerignore
/.env
/.gitignore

/cronjobs/*
!/cronjobs/example.sh
!/cronjobs/helper
!/cronjobs/jobs.dist
/prestashop/*

*.swp
