# Uncomment line below on production server to skip docker-compose -f options
#COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml

DB_IMAGE=extalion/prestashop_db
PRESTASHOP_IMAGE=extalion/prestashop
NGINX_IMAGE=extalion/prestashop_nginx

###> Prestashop ###
ADMIN_MAIL=admin@email.com
ADMIN_PASSWD=admin123
CRONITOR_KEY=
DB_PREFIX=ps_
PS_ALL_LANGUAGES=0
PS_COUNTRY=PL
PS_DEMO_MODE=0
PS_DOMAIN=localhost
PS_ENABLE_SSL=0
PS_ERASE_DB=0
PS_FOLDER_ADMIN=adminxyz
PS_FOLDER_INSTALL=install
PS_HANDLE_DYNAMIC_DOMAIN=0
PS_HOST_MODE=0
PS_INSTALL_AUTO=1
PS_LANGUAGE=en
SENTRY_DSN=
###< Prestashop ###

###> Nginx ###
PRESTASHOP_HOST=127.0.0.1
PRESTASHOP_PORT=80
###< Nginx ###

###> Db ###
MYSQL_DATABASE=prestashop
MYSQL_PASSWORD=CHANGE_ME
MYSQL_USER=prestashop
###< Db ###

###> Node ###
NODE_IMAGE=node:14-alpine
NODE_PORT=3505
###< Node ###

###> Devel ###
XDEBUG_IDEKEY=xdebug
XDEBUG_HOST=
XDEBUG_PORT=9000
XDEBUG_MODE=develop
###< Devel ###
