
**/*.log
**/*.cache
**/*.sw*
**/.DS_Store
**/Thumbs.db
backups/
cronjobs/
!cronjobs/example.sh
!cronjobs/helper.sh
!cronjobs/jobs.dist
docker_volumes/
initdb.d/
prestashop/
var/
.docker-backup
.env
.env.*.local
.env.local
