
/backups/*
/docker_volumes/*
/initdb.d/*
/var/*

/docker-compose.override.yaml
/docker-compose.override.yml
/.env
/*.log

/cronjobs/*
!/cronjobs/example.sh
!/cronjobs/helper
!/cronjobs/jobs.dist
/prestashop/*
